.Clear {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background: url(../../../public/Assets/clear.jpg) no-repeat center center;
  background-size: cover;
}

.Rain {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background: url(../../../public/Assets/rain.jpg) no-repeat;
  background-size: cover;
}
